<%- include ('partials/header') %>


<h1>COMPOSE</h1>
<div class="post-container">
    <form action="
    /compose" method="POST">
<label for="">Post Title</label>
<input type="text" name="postTitle">
<label for="">Post Content
    
</label>
<textarea name="postBody" id="" cols="30" rows="10"></textarea>
<button type="submit" class="btn-submit">POST</button>
</form>
</div>

<%- include ('partials/footer') %>